<a href="https://colab.research.google.com/github/camilafeldantunes/IA-e-Pandas/blob/main/Pandass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Manipulando dados com Pandas

In [2]:
import pandas as pd
import numpy as np

# Gerar 50 linhas de dados para as colunas especificadas
num_rows = 50

product_names = [f'Produto_{i}' for i in range(1, num_rows + 1)]
categories = np.random.choice(['Eletrônicos', 'Roupas', 'Livros', 'Alimentos', 'Decoração'], num_rows)
prices = np.round(np.random.uniform(10.00, 1000.00, num_rows), 2)
items_sold = np.random.randint(5, 500, num_rows)
ratings = np.round(np.random.uniform(1.0, 5.0, num_rows), 1)

data = {
    'nome do produto': product_names,
    'categoria do produto': categories,
    'Preço': prices,
    'quantos itens do produto foram vendidos': items_sold,
    'avaliação do produto': ratings
}

df_produtos = pd.DataFrame(data)

display(df_produtos.head())

,nome do produto,categoria do produto,Preço,quantos itens do produto foram vendidos,avaliação do produto
0,Produto_1,Roupas,518.58,79,1.9
1,Produto_2,Alimentos,759.74,330,3.5
2,Produto_3,Roupas,820.68,263,4.7
3,Produto_4,Alimentos,158.63,398,4.3
4,Produto_5,Roupas,841.70,350,1.2

In [3]:
df_produtos ##para visualizar todos as colunas e linhas

,nome do produto,categoria do produto,Preço,quantos itens do produto foram vendidos,avaliação do produto
0,Produto_1,Roupas,518.58,79,1.9
1,Produto_2,Alimentos,759.74,330,3.5
2,Produto_3,Roupas,820.68,263,4.7
3,Produto_4,Alimentos,158.63,398,4.3
4,Produto_5,Roupas,841.70,350,1.2
5,Produto_6,Decoração,941.46,228,1.3
6,Produto_7,Roupas,352.46,361,3.1
7,Produto_8,Decoração,36.32,246,1.1
8,Produto_9,Roupas,274.34,11,2.7
9,Produto_10,Decoração,473.64,463,1.6
10,Produto_11,Eletrônicos,133.84,188,2.6
11,Produto_12,Decoração,854.06,99,3.6
12,Produto_13,Roupas,168.07,456,4.2
13,Produto_14,Eletrônicos,574.88,358,4.0
14,Produto_15,Roupas,211.46,204,1.4
15,Produto_16,Eletrônicos,246.30,207,1.3
16,Produto_17,Roupas,856.49,111,2.9
17,Produto_18,Roupas,856.92,135,4.7
18,Produto_19,Livros,903.75,168,4.6
19,Produto_20,Decoração,439.56,84,3.6
20,Produto_21,Decoração,733.58,485,2.7
21,Produto_22,Roupas,375.79,129,4.5
22,Produto_23,Roupas,118.28,190,3.3
23,Produto_24,Roupas,407.14,125,4.8
24,Produto_25,Eletrônicos,298.98,85,2.5
25,Produto_26,Alimentos,581.73,90,1.4
26,Produto_27,Roupas,283.69,247,4.7
27,Produto_28,Livros,180.07,283,1.8
28,Produto_29,Livros,759.85,186,2.2
29,Produto_30,Decoração,780.32,152,4.0
30,Produto_31,Alimentos,408.09,210,2.7
31,Produto_32,Alimentos,749.04,464,3.5
32,Produto_33,Roupas,810.76,445,2.5
33,Produto_34,Eletrônicos,512.07,262,4.4
34,Produto_35,Roupas,384.86,264,2.7
35,Produto_36,Livros,335.35,304,4.5
36,Produto_37,Eletrônicos,831.05,265,4.4
37,Produto_38,Decoração,665.19,346,2.6
38,Produto_39,Alimentos,265.48,291,1.5
39,Produto_40,Roupas,298.18,412,1.2
40,Produto_41,Roupas,468.36,248,4.2
41,Produto_42,Livros,301.51,23,1.0
42,Produto_43,Livros,629.06,55,3.6
43,Produto_44,Decoração,401.37,143,3.5
44,Produto_45,Livros,523.56,305,2.1
45,Produto_46,Eletrônicos,812.44,180,3.8
46,Produto_47,Eletrônicos,539.66,357,3.9
47,Produto_48,Decoração,106.88,266,4.0
48,Produto_49,Livros,262.73,498,3.7
49,Produto_50,Eletrônicos,889.53,171,3.2

In [4]:
df_produtos["categoria do produto"] ## especificando a coluna para a visualização

0          Roupas
1       Alimentos
2          Roupas
3       Alimentos
4          Roupas
5       Decoração
6          Roupas
7       Decoração
8          Roupas
9       Decoração
10    Eletrônicos
11      Decoração
12         Roupas
13    Eletrônicos
14         Roupas
15    Eletrônicos
16         Roupas
17         Roupas
18         Livros
19      Decoração
20      Decoração
21         Roupas
22         Roupas
23         Roupas
24    Eletrônicos
25      Alimentos
26         Roupas
27         Livros
28         Livros
29      Decoração
30      Alimentos
31      Alimentos
32         Roupas
33    Eletrônicos
34         Roupas
35         Livros
36    Eletrônicos
37      Decoração
38      Alimentos
39         Roupas
40         Roupas
41         Livros
42         Livros
43      Decoração
44         Livros
45    Eletrônicos
46    Eletrônicos
47      Decoração
48         Livros
49    Eletrônicos
Name: categoria do produto, dtype: object

In [5]:
df_produtos["categoria do produto"].unique() ##retorna somente os nomes de produtos que tem sem repetir

array(['Roupas', 'Alimentos', 'Decoração', 'Eletrônicos', 'Livros'],
      dtype=object)

In [6]:
set(df_produtos["categoria do produto"]) ## igual o de cima mas retorna um dicionario

{'Alimentos', 'Decoração', 'Eletrônicos', 'Livros', 'Roupas'}

In [17]:
df_produtos[(df_produtos["categoria do produto"] == "Eletrônicos") & (df_produtos["Preço"] >= 350.0)]## filtrando elementos

,nome do produto,categoria do produto,Preço,quantos itens do produto foram vendidos,avaliação do produto
13,Produto_14,Eletrônicos,574.88,358,4.0
33,Produto_34,Eletrônicos,512.07,262,4.4
36,Produto_37,Eletrônicos,831.05,265,4.4
45,Produto_46,Eletrônicos,812.44,180,3.8
46,Produto_47,Eletrônicos,539.66,357,3.9
49,Produto_50,Eletrônicos,889.53,171,3.2

In [18]:
df_produtos[df_produtos["avaliação do produto"] < 2.0 ].shape

(12, 5)

In [19]:
df_produtos.shape

(50, 5)

In [22]:
df_produtos.iloc[15:]

,nome do produto,categoria do produto,Preço,quantos itens do produto foram vendidos,avaliação do produto
15,Produto_16,Eletrônicos,246.30,207,1.3
16,Produto_17,Roupas,856.49,111,2.9
17,Produto_18,Roupas,856.92,135,4.7
18,Produto_19,Livros,903.75,168,4.6
19,Produto_20,Decoração,439.56,84,3.6
20,Produto_21,Decoração,733.58,485,2.7
21,Produto_22,Roupas,375.79,129,4.5
22,Produto_23,Roupas,118.28,190,3.3
23,Produto_24,Roupas,407.14,125,4.8
24,Produto_25,Eletrônicos,298.98,85,2.5
25,Produto_26,Alimentos,581.73,90,1.4
26,Produto_27,Roupas,283.69,247,4.7
27,Produto_28,Livros,180.07,283,1.8
28,Produto_29,Livros,759.85,186,2.2
29,Produto_30,Decoração,780.32,152,4.0
30,Produto_31,Alimentos,408.09,210,2.7
31,Produto_32,Alimentos,749.04,464,3.5
32,Produto_33,Roupas,810.76,445,2.5
33,Produto_34,Eletrônicos,512.07,262,4.4
34,Produto_35,Roupas,384.86,264,2.7
35,Produto_36,Livros,335.35,304,4.5
36,Produto_37,Eletrônicos,831.05,265,4.4
37,Produto_38,Decoração,665.19,346,2.6
38,Produto_39,Alimentos,265.48,291,1.5
39,Produto_40,Roupas,298.18,412,1.2
40,Produto_41,Roupas,468.36,248,4.2
41,Produto_42,Livros,301.51,23,1.0
42,Produto_43,Livros,629.06,55,3.6
43,Produto_44,Decoração,401.37,143,3.5
44,Produto_45,Livros,523.56,305,2.1
45,Produto_46,Eletrônicos,812.44,180,3.8
46,Produto_47,Eletrônicos,539.66,357,3.9
47,Produto_48,Decoração,106.88,266,4.0
48,Produto_49,Livros,262.73,498,3.7
49,Produto_50,Eletrônicos,889.53,171,3.2

In [24]:
df_protudos_com_indice = df_produtos.set_index("nome do produto")
df_protudos_com_indice

,categoria do produto,Preço,quantos itens do produto foram vendidos,avaliação do produto
nome do produto,,,,
Produto_1,Roupas,518.58,79,1.9
Produto_2,Alimentos,759.74,330,3.5
Produto_3,Roupas,820.68,263,4.7
Produto_4,Alimentos,158.63,398,4.3
Produto_5,Roupas,841.70,350,1.2
Produto_6,Decoração,941.46,228,1.3
Produto_7,Roupas,352.46,361,3.1
Produto_8,Decoração,36.32,246,1.1
Produto_9,Roupas,274.34,11,2.7
Produto_10,Decoração,473.64,463,1.6
Produto_11,Eletrônicos,133.84,188,2.6
Produto_12,Decoração,854.06,99,3.6
Produto_13,Roupas,168.07,456,4.2
Produto_14,Eletrônicos,574.88,358,4.0
Produto_15,Roupas,211.46,204,1.4
Produto_16,Eletrônicos,246.30,207,1.3
Produto_17,Roupas,856.49,111,2.9
Produto_18,Roupas,856.92,135,4.7
Produto_19,Livros,903.75,168,4.6
Produto_20,Decoração,439.56,84,3.6
Produto_21,Decoração,733.58,485,2.7
Produto_22,Roupas,375.79,129,4.5
Produto_23,Roupas,118.28,190,3.3
Produto_24,Roupas,407.14,125,4.8
Produto_25,Eletrônicos,298.98,85,2.5
Produto_26,Alimentos,581.73,90,1.4
Produto_27,Roupas,283.69,247,4.7
Produto_28,Livros,180.07,283,1.8
Produto_29,Livros,759.85,186,2.2
Produto_30,Decoração,780.32,152,4.0
Produto_31,Alimentos,408.09,210,2.7
Produto_32,Alimentos,749.04,464,3.5
Produto_33,Roupas,810.76,445,2.5
Produto_34,Eletrônicos,512.07,262,4.4
Produto_35,Roupas,384.86,264,2.7
Produto_36,Livros,335.35,304,4.5
Produto_37,Eletrônicos,831.05,265,4.4
Produto_38,Decoração,665.19,346,2.6
Produto_39,Alimentos,265.48,291,1.5
Produto_40,Roupas,298.18,412,1.2
Produto_41,Roupas,468.36,248,4.2
Produto_42,Livros,301.51,23,1.0
Produto_43,Livros,629.06,55,3.6
Produto_44,Decoração,401.37,143,3.5
Produto_45,Livros,523.56,305,2.1
Produto_46,Eletrônicos,812.44,180,3.8
Produto_47,Eletrônicos,539.66,357,3.9
Produto_48,Decoração,106.88,266,4.0
Produto_49,Livros,262.73,498,3.7
Produto_50,Eletrônicos,889.53,171,3.2

In [25]:
df_protudos_com_indice.loc["Produto_10"] ##comparacao entre ILOC e LOC

categoria do produto                       Decoração
Preço                                         473.64
quantos itens do produto foram vendidos          463
avaliação do produto                             1.6
Name: Produto_10, dtype: object

In [26]:
df_produtos.iloc[9]

nome do produto                            Produto_10
categoria do produto                        Decoração
Preço                                          473.64
quantos itens do produto foram vendidos           463
avaliação do produto                              1.6
Name: 9, dtype: object

In [30]:
decoracao = df_protudos_com_indice[df_protudos_com_indice['categoria do produto'] == "Decoração"]
df_protudos_com_indice.loc[decoracao.index, 'categoria do produto'] = "Decorativo"

In [31]:
decoracao

,categoria do produto,Preço,quantos itens do produto foram vendidos,avaliação do produto
nome do produto,,,,
Produto_6,Decoração,941.46,228,1.3
Produto_8,Decoração,36.32,246,1.1
Produto_10,Decoração,473.64,463,1.6
Produto_12,Decoração,854.06,99,3.6
Produto_20,Decoração,439.56,84,3.6
Produto_21,Decoração,733.58,485,2.7
Produto_30,Decoração,780.32,152,4.0
Produto_38,Decoração,665.19,346,2.6
Produto_44,Decoração,401.37,143,3.5
Produto_48,Decoração,106.88,266,4.0

In [33]:
df_protudos_com_indice['categoria do produto'].unique()

array(['Roupas', 'Alimentos', 'Decorativo', 'Eletrônicos', 'Livros'],
      dtype=object)